executor {
    name = 'sge'
    queueSize = 5
}

process.container = "vibpsb/mini-ex:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

params {
	expressionMatrix = "$baseDir/example/INPUTS/*_matrix.txt"
	markersOut = "$baseDir/example/INPUTS/*_allMarkers.txt"
	cell2clusters = "$baseDir/example/INPUTS/*_cells2clusters.txt"
	cluster2ident = "$baseDir/example/INPUTS/*_identities.txt"
	TF_list = "$baseDir/example/INPUTS/TF_list.txt"
	termsOfInterest = "$baseDir/example/INPUTS/GOsIwant.txt"
//	termsOfInterest = null
	
	featureFile_motifs = "$baseDir/data_ath/ath_2021.1_motifMapping.out.gz"
	infoTF = "$baseDir/data_ath/ath_TF2fam2mot.txt"
	GOfile = "$baseDir/data_ath/ath_full_BP_expcur_ext_names.txt"
	alias = "$baseDir/data_ath/ath_gene_aliases.txt"
	
	script_enricher = "$baseDir/bin/enricherv2.4"
	script_grnboost = "$baseDir/bin/MINIEX_grnboostMultiprocess.py"
	script_motifs = "$baseDir/bin/MINIEX_filterForMotifs.py"
	script_topDEGs = "$baseDir/bin/MINIEX_selectTopDEGs.py"
	script_expTFs = "$baseDir/bin/MINIEX_filterForTFExp.py"
	script_clustermap = "$baseDir/bin/MINIEX_clustermap.py"
	script_networkCentrality = "$baseDir/bin/MINIEX_network_analysis.py"
	script_checkReference = "$baseDir/bin/MINIEX_checkRef.py"
	script_filesEnrichment = "$baseDir/bin/MINIEX_makeFilesEnrichment.py"	
	script_makedfRef = "$baseDir/bin/MINIEX_makeRankingDf_ref.py"
	script_makedfStd = "$baseDir/bin/MINIEX_makeRankingDf_std.py"
	script_makeborda = "$baseDir/bin/MINIEX_makeBorda.py"
	script_heatmapTops = "$baseDir/bin/MINIEX_visual_heatmap_top150.py"
	
	tops = "700"
	expressionFilter = "10"
	motifFilter = "TF-F_motifs"	
	topRegs = "150"
}

process {
    withName: run_grnboost {
        clusterOptions = '-l h_vmem=15G -pe <pe_name> 5'
    }
    withName: unzip_motifMappings {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: run_enricher_motifs {
        clusterOptions = '-l h_vmem=4G'
    }
    withName: filter_motifs {
        clusterOptions = '-l h_vmem=20G'
    }
    withName: get_topDEGs {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: run_enricher_cluster {
        clusterOptions = '-l h_vmem=4G'
    }
    withName: filter_expression {
        clusterOptions = '-l h_vmem=20G'
    }
    withName: network_centrality {
        clusterOptions = '-l h_vmem=20G'
    }
    withName: getFiles_enrichment {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: GO_enricher {
        clusterOptions = '-l h_vmem=4G'
    }
	withName: check_reference {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: ranking_df_ref {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: ranking_df_std {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: makeBorda {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: heatmap_tops {
        clusterOptions = '-l h_vmem=20G'
    }
    withName: clustermap_regs {
        clusterOptions = '-l h_vmem=20G'
    }
}
