
////////////////////////////////
// MINI-EX CONFIGURATION FILE //
////////////////////////////////

// SPECIFY THE SYSTEM EXECUTOR //
executor {
    name = 'slurm'
    //  --> common examples: local, slurm, sge, azurebatch
    queueSize = 5
}

// SINGULARITY CONTAINERS SETTINGS // (not to be adapted)
process.container = "vibpsb/mini-ex:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

params {

    // INPUT FILES DERIVED FROM SINGLE-CELL DATASETS //
    expressionMatrix = "$baseDir/example/INPUTS/*_matrix.tsv"
    markersOut = "$baseDir/example/INPUTS/*_allMarkers.tsv"
    cellsToClusters = "$baseDir/example/INPUTS/*_cells2clusters.tsv"
    clustersToIdentities = "$baseDir/example/INPUTS/*_identities.tsv"
    
    // CACHED FILES // (allows to reuse the initial coexpression network)
    grnboostOut = "/$baseDir/example/OUTPUTS/grnboost2/*_grnboost2.tsv" 
    // --> to infer coexpression network de novo, replace the line above by: grnboostOut = null
    
    // SPECIES SPECIFIC INFORMATION //
    tfList = "$baseDir/data/ath/ath_TF_list.tsv"
    geneAliases = "$baseDir/data/ath/ath_gene_aliases.tsv"
    // --> if gene aliases are not available, replace the line above by: geneAliases = null 
    infoTf = "$baseDir/data/ath/ath_TF2fam2mot.tsv"
    featureFileMotifs = "$baseDir/data/ath/ath_2021.1_motifMapping.out.gz"
    goFile = "$baseDir/data/ath/ath_full_BP_expcur_ext_names.tsv"
    // --> if GO data is not available, replace the line above by: goFile = null 
    //     (when doing so, termsOfInterest should also be set to <null>)
    
    // PARAMETERS //
    doMotifAnalysis = true 
    // --> set to <false> if no motif mapping data is available 
    //     [CAUTION: without motif data MINI-EX is less reliable]
    termsOfInterest = "$baseDir/example/INPUTS/GOsIwant.tsv"
    // --> to use the standard ranking procedure, replace the line above by: termsOfInterest = null
    topMarkers = "700"
    expressionFilter = "10"
    motifFilter = "TF-F_motifs" 
    // --> to use the motifs of the TF family: motifFilter = "TF-F_motifs"
    // --> to only use the motifs known for a TF: motifFilter =  "TF_motifs"
    topRegulons = "150"
    enrichmentBackground = null
    // --> to specify an enrichment background: enrichmentBackground = "pathToTheFile", with file containing one gene id per line

    // SPECIFY OUTPUT DIRECTORY //
    outputDir = "$baseDir/output"
}

// SPECIFY MEMORY AND CPUS FOR EACH PROCESS //
process {

    withName: check_user_input {
        memory = '1 GB'
    }
    withName: get_expressed_genes {
        memory = '1 GB'
    }
    withName: run_grnboost {
        memory = '20 GB'
        cpus = 5
    }
    withName: unzip_motif_mappings {
        executor = 'local'
    }
    withName: run_enricher_motifs {
        memory = '4 GB'
    }
    withName: filter_motifs {
        memory = '20 GB'
    }
    withName: filter_motifs_dummy {
        executor = 'local'
    }
    withName: get_top_degs {
        memory = '10 GB'
    }
    withName: run_enricher_cluster {
        memory = '4 GB'
    }
    withName: filter_expression {
        memory = '20 GB'
    }
    withName: make_info_file {
        memory = '10 GB'
    }
    withName: make_regulon_clustermap {
        memory = '20 GB'
    }
    withName: get_network_centrality {
        memory = '20 GB'
    }
    withName: make_go_enrichment_files {
        memory = '10 GB'
    }
    withName: run_enricher_go {
        memory = '4 GB'
    }
    withName: check_reference {
        memory = '10 GB'
    }
    withName: make_ranking_dataframe {
        memory = '10 GB'
    }
    withName: make_borda {
        memory = '10 GB'
    }
    withName: score_edges {
        memory = '15 GB'
    }
    withName: make_top_regulons_heatmaps {
        memory = '20 GB'
    }
    withName: make_regmaps {
        memory = '20 GB'
    }
    withName: make_log_file {
        executor = 'local'
    }
}
