
////////////////////////////////
// MINI-EX CONFIGURATION FILE //
////////////////////////////////

// SPECIFY THE SYSTEM EXECUTOR //
executor {
    name = 'slurm'
//  --> common examples: local, slurm, sge, azurebatch
    queueSize = 5
}

// SINGULARITY CONTAINERS SETTINGS // (not to be adapted)
process.container = "vibpsb/mini-ex:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

params {

    // INPUT FILES DERIVED FROM SINGLE-CELL DATASETS //
    expressionMatrix = "$baseDir/example/INPUTS/*_matrix.txt"
    markersOut = "$baseDir/example/INPUTS/*_allMarkers.txt"
    cell2clusters = "$baseDir/example/INPUTS/*_cells2clusters.txt"
    cluster2ident = "$baseDir/example/INPUTS/*_identities.txt"
    
    // CACHED FILES // (allows to reuse the initial coexpression network)
    grnboostOut = "/$baseDir/example/OUTPUTS/GRNBoost2_output/*_grnboost2.txt" 
    // --> to infer coexpression network de novo, replace the line above by: grnboostOut = null
    
    // SPECIES SPECIFIC INFORMATION //
    TF_list = "$baseDir/data/ath/ath_TF_list.txt"
    alias = "$baseDir/data/ath/ath_gene_aliases.txt"
    infoTF = "$baseDir/data/ath/ath_TF2fam2mot.txt"
    featureFile_motifs = "$baseDir/data/ath/ath_2021.1_motifMapping.out.gz"
    GOfile = "$baseDir/data/ath/ath_full_BP_expcur_ext_names.txt" 
    // --> if GO data is not available, replace the line above by: GOfile = null 
    //     (when doing so, termsOfInterest should also be set to <null>)
    
    // PARAMETERS //
    doMotifAnalysis = true 
    // --> set to <false> if no motif mapping data is available 
    //     [CAUTION: without motif data MINI-EX is less reliable]
    termsOfInterest = "$baseDir/example/INPUTS/GOsIwant.txt"
    // --> to use the standard ranking procedure, replace the line above by: termsOfInterest = null
    tops = "700"
    expressionFilter = "10"
    motifFilter = "TF-F_motifs" 
    // --> to use the motifs of the TF family: motifFilter = "TF-F_motifs"
    // --> to only use the motifs known for a TF: motifFilter =  "TF_motifs"
    topRegs = "150"
}

// SPECIFY MEMORY AND CPUS FOR EACH PROCESS //
process {

    withName: check_input_files {
        memory = '10 GB'
    }
    withName: get_expressed_genes {
        memory = '10 GB'
    }
    withName: run_grnboost {
        memory = '20 GB'
        cpus = 5
    }
    withName: unzip_motifMappings {
        executor = 'local'
    }
    withName: run_enricher_motifs {
        memory = '4 GB'
    }
    withName: filter_motifs {
        memory = '20 GB'
    }
    withName: filter_motifs_dummy {
        executor = 'local'
    }
    withName: get_topDEGs {
        memory = '10 GB'
    }
    withName: run_enricher_cluster {
        memory = '4 GB'
    }
    withName: filter_expression {
        memory = '20 GB'
    }
    withName: make_info_file {
        memory = '10 GB'
    }
    withName: network_centrality {
        memory = '20 GB'
    }
    withName: getFiles_enrichment {
        memory = '10 GB'
    }
    withName: GO_enricher {
        memory = '4 GB'
    }
    withName: check_reference {
        memory = '10 GB'
    }
    withName: ranking_df_ref {
        memory = '10 GB'
    }
    withName: ranking_df_std {
        memory = '10 GB'
    }
    withName: makeBorda {
        memory = '10 GB'
    }
    withName: scoreEdges {
        memory = '15 GB'
    }
    withName: heatmap_tops {
        memory = '20 GB'
    }
    withName: clustermap_regs {
        memory = '20 GB'
    }
    withName: regmaps {
        memory = '20 GB'
    }
}
